* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 12px;
}

body {
  min-height: 100lvh;
  height: 100lvh;
  font-family: 'Noto Serif Display', serif;
  color: #e7dec1;
  background-color: #161616;
  overflow-x: hidden;
  overflow-y: auto;
  scroll-behavior: smooth;
}

.overflow {
  overflow-y: auto;
}

html {
  -webkit-text-size-adjust: 100%;
}

html::-webkit-scrollbar {
  width: 0.15rem;
}
html::-webkit-scrollbar-thumb {
  background-color: #e7dec1;
}

html::-webkit-scrollbar-track {
  background-color: #000000;
}

a {
  text-decoration: none;
  color: #161616;
}

h1 {
  font-size: 4rem;
  font-weight: 200;
  text-transform: capitalize;
  line-height: 4rem;
  padding-bottom: 0rem;
  text-transform: uppercase;
}

h2 {
  font-size: 2rem;
  font-weight: 100;
  text-transform: uppercase;
  text-decoration: underline 1px;
  text-underline-offset: 0.3rem;
  letter-spacing: 1rem;
  word-spacing: 3rem;
  line-height: 2.7rem;
}

h3 {
  font-size: 1.5rem;
  font-weight: 200;
  margin-bottom: 2rem;
}

h4 {
  font-size: 1rem;
  font-weight: 300;
  text-transform: uppercase;
  line-height: 1.25rem;
  letter-spacing: 1.25rem;
}

h5 {
  font-size: 0.75rem;
  text-transform: uppercase;
}

p {
  font-size: 1.2rem;
  font-weight: 300;
  letter-spacing: 0.1rem;
}

header {
  position: fixed;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: end;
  width: 100lvw;
  padding: 3rem;
  left: 0;
  top: 0;
}

main {
  width: 100lvw;
}

footer {
  position: fixed;
  display: flex;
  justify-content: space-between;
  width: 100%;
  left: 0;
  bottom: 0;
  padding: 2rem;
  background-color: #161616;
}

nav {
  display: flex;
  align-items: center;
}

#art-info {
  position: fixed;
  width: 40lvw;
  height: 100lvh;
  display: flex;
  opacity: 1;
  flex-direction: column;
  justify-content: center;
  padding-left: 10rem;
}

.art-info-min {
  transform: scale(0.65);
  transform-origin: center left;
  transition: 0.5s transform;
  justify-content: e;
}

#navigation {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  gap: 0.5rem;
}

.header-logo {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.logo {
  width: 3.25rem;
  height: 3.25rem;
}

.art-display {
  position: absolute;
  right: 0;
  width: 100lvw;
  z-index: -100;
  padding: 0;
  opacity: 0;
}

.art-display-min {
  width: 80lvw;
  height: 100lvh;
  padding: 5rem 10rem 10rem;
}

.art-title,
.art-date,
.art-artist {
  opacity: 0;
}

.fade-in {
  opacity: 1;
  transition: opacity 1.5s ease 0s;
}

.hide {
  opacity: 0;
}

.art-img {
  object-fit: contain;
  object-position: center;
  width: 100%;
  height: 100%;
}

.btn {
  width: 4rem;
  height: 4rem;
  scale: 1;
  border: none;
  cursor: pointer;
  color: #e7dec1;
}

.btn-info {
  background: url('./svg/info.svg') center no-repeat;
}

.btn-minimize {
  background: url('./svg/minimize.svg') center no-repeat;
}

.btn-expand {
  background: url('./svg/expand.svg') center no-repeat;
}

.btn-next {
  background: url('./svg/arrow.svg') center no-repeat;
}

.btn:hover {
  scale: 1.2;
  transition-duration: 0.25s;
}

.loading {
  position: fixed;
  display: flex;
  width: 100lvw;
  height: 100lvh;
  justify-content: center;
  align-items: center;
  margin: auto;
  z-index: -5;
}

.spinner {
  animation: rotate 1s infinite linear;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 1200px) {
  h1 {
    font-size: 3rem;
    line-height: 3rem;
  }

  #art-info {
    width: 40lvw;
    top: 0;
    left: 0;
    padding: 5rem 1rem 10rem 5rem;
  }

  .art-display-min {
    right: 0;
    width: 60lvw;
    padding: 5rem 5rem 10rem 1rem;
  }
}

@media screen and (max-width: 420px) {
  footer {
    padding: 1rem;
  }

  h1 {
    font-size: 3rem;
    line-height: 3rem;
  }

  h2 {
    font-size: 1.75rem;
    letter-spacing: 1rem;
    word-spacing: 1rem;
    line-height: 2rem;
    margin-bottom: 2rem;
  }

  h3 {
    font-size: 1.25rem;
    margin-bottom: 2rem;
  }

  h4 {
    font-size: 0.85rem;
    font-weight: 300;
    text-transform: uppercase;
    line-height: 1rem;
    letter-spacing: 0.3rem;
  }

  .logo {
    width: 2.25rem;
    height: 2.25rem;
  }

  /* #main {
  display: flex;
  flex-direction: column;
} */

  #art-info {
    position: relative;
    display: flex;
    opacity: 1;
    flex-direction: column;
    justify-content: flex-start;
    width: 100lvw;
    height: auto;
    top: 0;
    left: 0;
    padding: 3rem 1rem 1rem 1rem;
  }

  .header-logo {
    gap: 1rem;
  }

  .art-display {
    position: relative;
    right: 0;
    width: 100lvw;
    height: auto;
    z-index: -100;
    padding-bottom: 6rem;
    margin: 0;
  }

  .art-display-min {
    position: relative;
    width: 100%;
    padding: 0 0 6rem 0;
  }

  .art-img {
    object-fit: contain;
    object-position: center;
    width: 100%;
    height: 100%;
  }

  .btn-minimize,
  .btn-info {
    display: none;
  }
}

@media screen and (max-height: 500px) and (orientation: landscape) {
  footer {
    padding: 0.5rem 1rem;
  }

  h1 {
    font-size: 1.5rem;
    line-height: 1.5rem;
  }

  h2 {
    font-size: 1.1rem;
    letter-spacing: 0.5rem;
    word-spacing: 1rem;
    line-height: 1.25rem;
    margin-bottom: 0;
    text-decoration: underline 0.5px;
    text-underline-offset: 0.2rem;
  }

  h3 {
    font-size: 1rem;
    margin-bottom: 1.5rem;
  }

  h4 {
    font-size: 0.75rem;
    font-weight: 300;
    text-transform: uppercase;
    line-height: 1rem;
    letter-spacing: 0.3rem;
  }

  #art-info {
    padding-left: 3rem;
  }

  .art-display-min {
    right: 0;
    width: 60lvw;
    padding: 2rem 3rem 5rem 3rem;
  }

  .logo {
    width: 2.25rem;
    height: 2.25rem;
  }
}

@media (hover: none) {
  .btn:hover {
    scale: 0.75;
  }
}
