* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 12px;
}

body {
  min-height: 100vh;
  height: 100vh;
  font-family: 'Noto Serif Display', serif;
  color: #e7dec1;
  background-color: #5d615c;
  overflow-x: hidden;
  overflow-y: hidden;
}

.overflow {
  overflow-y: auto;
}

html {
  -webkit-text-size-adjust: 100%;
}

html::-webkit-scrollbar {
  width: 0.75rem;
}
html::-webkit-scrollbar-thumb {
  background-color: #807d75;
}

html::-webkit-scrollbar-track {
  background-color: #5d615c;
}

a {
  text-decoration: none;
  color: #161616;
}

h1 {
  font-size: 6rem;
  font-weight: 400;
  word-break: break-word;
  text-transform: uppercase;
  letter-spacing: -0.5rem;
  word-spacing: 2rem;
  text-align: justify;
  text-align-last: justify;
  line-height: 4.4rem;
  padding-bottom: 0.5rem;
}

h2 {
  font-size: 2.5rem;
  font-weight: 100;
  letter-spacing: -0.1rem;
  line-height: 2.5rem;
  margin-bottom: -1.8rem;
  font-style: italic;
}

h3 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: -0.5rem;
}

h4 {
  font-size: 2rem;
  font-weight: 100;
  text-transform: uppercase;
  line-height: 1.7rem;
  margin-bottom: -0.1rem;
}

h5 {
  font-size: 0.75rem;
  text-transform: uppercase;
}

p {
  font-size: 1.2rem;
  font-weight: 300;
  letter-spacing: 0.1rem;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 70vh;
  padding: 3rem;
}

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: end;
  width: 100%;
  padding-bottom: 2rem;
}

footer {
  position: fixed;
  left: 0.5rem;
  bottom: 1rem;
  padding: 2rem;
}

nav {
  display: flex;
  align-items: center;
  gap: 3rem;
}

#art-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  position: relative;
  width: 100%;
}

#art-title {
  padding-top: 4rem;
}

.art-year {
  min-width: 15rem;
  text-align: right;
}

#navigation {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  gap: 1.5rem;
}

.art-artist-container {
  width: 100%;
}

.art-title-container {
  display: flex;
  justify-content: space-between;
  align-items: end;
  width: 100%;
}

.art-location {
  line-height: 1rem;
}

.header-logo {
  display: flex;
  align-items: flex-end;
  width: 20rem;
  gap: 2rem;
}

.logo {
  width: 3.25rem;
  height: 3.25rem;
}

.art-title {
  padding-bottom: 1.5rem;
}

.art-description {
  padding-bottom: 3rem;
  width: 50rem;
  text-align: right;
}

.art-location {
  text-transform: uppercase;
  font-size: 0.75rem;
  font-weight: 500;
  letter-spacing: 0.1rem;
}

.location {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  gap: 1rem;
}

.arrow-location {
  scale: 0.5;
}

.art-display {
  position: absolute;
  top: -2rem;
  left: -2rem;
  width: 105vw;
  height: 105vh;
  z-index: -100;
  transition: top 1s, left 1s, width 1s, height 1s, padding-top 1s;
}

.min {
  position: absolute;
  top: 75vh;
  left: 0;
  width: 100vw;
  height: auto;
  padding-bottom: 9rem;
}

.art-img {
  object-fit: cover;
  object-position: top;
  width: 100%;
  height: 100%;
}

.btn {
  width: 4rem;
  height: 4rem;
  border: solid 1px #e7dec1;
  border-radius: 2rem;
  cursor: pointer;
  background: none;
  color: #e7dec1;
}

.btn-minimize {
  background: url('./svg/minimize.svg') center no-repeat;
}

.rotate180 {
  background: url('./svg/expand.svg') center no-repeat;
}

/* #btn-previous {
  background: url('./svg/left.svg') center no-repeat;
} */

.btn-next {
  background: url('./svg/arrow.svg') center no-repeat;
}

.btn:hover {
  scale: 1.2;
  transition-duration: 0.25s;
}

@media screen and (max-width: 850px) {
  h1 {
    font-size: 4.5rem;
    font-weight: 400;
    letter-spacing: -0.3rem;
    word-spacing: 2rem;
    line-height: 3.4rem;
  }

  h2 {
    font-size: 2rem;
    font-weight: 200;
    line-height: 2rem;
    margin-bottom: -1.8rem;
  }

  h3 {
    font-size: 1.3rem;
    margin-bottom: -0.4rem;
  }

  p {
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 0.1rem;
  }

  footer {
    left: 0rem;
  }

  .header-logo {
    display: flex;
    align-items: flex-end;
    width: 11rem;
    gap: 1rem;
  }

  .location {
    width: 100%;
  }

  .art-location {
    font-size: 0.65rem;
  }

  .art-description {
    padding-bottom: 2rem;
    width: 100%;
    text-align: justify;
  }
}

@media screen and (max-width: 420px) {
  h1 {
    font-size: 2.5rem;
    font-weight: 600;
    letter-spacing: -0.2rem;
    word-spacing: 2rem;
    line-height: 1.9rem;
    padding-bottom: 0.25rem;
  }

  h2 {
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 1.5rem;
    margin-bottom: -1.8rem;
  }

  h3 {
    font-size: 1.2rem;
    margin-bottom: -0.3rem;
  }

  h4 {
    font-size: 1.5rem;
    font-weight: 200;
    line-height: 1.2rem;
    margin-bottom: 0rem;
  }

  p {
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 0rem;
    line-height: 1.3rem;
  }

  main {
    min-height: 50vh;
    padding: 2rem;
  }

  footer {
    left: -0.75rem;
    bottom: 0rem;
  }

  .min {
    top: 55vh;
    width: 100vw;
  }

  #art-title {
    padding-top: 2rem;
  }

  .art-description {
    padding-bottom: 1rem;
  }

  .art-year {
    min-width: 8rem;
  }

  .logo {
    width: 2rem;
    height: 2rem;
  }

  .btn {
    scale: 0.75;
  }
}

/* LANDSCAPE ORIENTATION */

@media screen and (orientation: landscape) {
  .btn {
    scale: 0.75;
  }
}

@media screen and (max-height: 450px) and (orientation: landscape) {
  body {
    overflow-y: auto;
    height: 140vh;
  }

  main {
    padding-left: 4rem;
    padding-right: 4rem;
  }

  footer {
    left: 1.25rem;
  }

  .art-display {
    height: 145vh;
  }

  .min {
    top: 115vh;
    width: 100vw;
    padding-bottom: 0;
  }

  #navigation {
    position: fixed;
    right: 3.5rem;
    top: 3rem;
  }

  .btn {
    scale: 0.75;
  }
}

@media screen and (max-width: 300px) {
  .min {
    top: 70vh;
  }
}

@media screen and (max-height: 300px) {
  h1 {
    font-size: 2.2rem;
    font-weight: 600;
    letter-spacing: -0.2rem;
    word-spacing: 2rem;
    line-height: 1.9rem;
    padding-bottom: 0.15rem;
  }

  footer {
    left: 1.25rem;
  }

  .min {
    top: 85vh;
  }

  .art-description {
    padding-bottom: 0.5rem;
  }

  #art-title {
    padding-top: 0.5rem;
  }

  #navigation {
    position: fixed;
    top: 1rem;
    right: 4rem;
  }
}

@media (hover: none) {
  .btn:hover {
    scale: 0.75;
  }

  .btn {
    scale: 0.75;
  }
}
