* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 12px;
}

body {
  min-height: 100vh;
  font-family: 'Noto Serif Display', serif;
  color: #e7dec1;
  background-color: #5d615c;
  overflow-x: hidden;
  overflow-y: auto;

  /* background */
  background-image: url('./img/DT4167.jpg');
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;

  /* shift down */
  /* background-position-y: 45vh;
  background-size: contain;
  background-repeat: no-repeat;
  overflow-y: scroll; */
}

html {
  -webkit-text-size-adjust: 100%;
}

a {
  text-decoration: none;
  color: #161616;
}

h1 {
  font-size: 6rem;
  font-weight: 400;
  word-break: break-word;
  text-transform: uppercase;
  letter-spacing: -0.5rem;
  word-spacing: 2rem;
  text-align: justify;
  text-align-last: justify;
  line-height: 4.4rem;
}

h2 {
  font-size: 2.5rem;
  font-weight: 100;
  letter-spacing: -0.1rem;
  line-height: 2.5rem;
  margin-bottom: -1.8rem;
}

h3 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: -0.5rem;
}

h4 {
  font-size: 2rem;
  font-weight: 100;
  text-transform: uppercase;
  line-height: 1.7rem;
  margin-bottom: -0.1rem;
}

h5 {
  font-size: 0.75rem;
  text-transform: uppercase;
}

p {
  font-size: 1.2rem;
  font-weight: 300;
  letter-spacing: 0.1rem;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 70vh;
  padding: 3rem;
}

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: end;
  width: 100%;
  padding-bottom: 2rem;
}

nav {
  display: flex;
  align-items: center;
  gap: 3rem;
}

#modal {
  display: none;
  position: absolute;
  top: 0;
  z-index: -5;
  width: 100%;
  height: 100%;
  background-color: #161616;
  opacity: 0.8;
}

#art-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  position: relative;
  width: 100%;
}

#art-title {
  padding-top: 4rem;
}

.art-year {
  min-width: 15rem;
  text-align: right;
}

#navigation {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  gap: 1.5rem;
  margin-right: -0.7rem;
  margin-bottom: -0.9rem;
}

.art-artist-container {
  width: 100%;
}

.art-title-container {
  display: flex;
  justify-content: space-between;
  align-items: end;
  width: 100%;
}

.header-logo {
  display: flex;
  align-items: flex-end;
  width: 20rem;
  gap: 2rem;
}

.logo {
  width: 3.25rem;
  height: 3.25rem;
}

.art-title {
  padding-bottom: 1.5rem;
}

.art-description {
  padding-bottom: 3rem;
  width: 50rem;
  text-align: right;
}

.art-location {
  text-transform: uppercase;
  font-size: 0.75rem;
  font-weight: 500;
  letter-spacing: 0.1rem;
}

.location {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  gap: 1rem;
}

.arrow-right {
  scale: 0.5;
  margin-left: -0.5rem;
}

.art-img-min {
  object-fit: contain;
  max-width: 100%;
  max-height: 100%;
}

#art-display {
  position: absolute;
  top: -2rem;
  left: -2rem;
  width: 105vw;
  height: 105vh;
  z-index: -100;

  /* shift down */

  /* top: 45vh;
  left: 0;
  width: auto;
  height: auto; */
}

.art-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.btn {
  height: 3rem;
  width: 3rem;
  border: solid 0.5px #e7dec1;
  border: none;
  border-radius: 4rem;
  cursor: pointer;
}

.btn:hover {
  scale: 1.4;
  transition: 0.05s ease-out;
}

.btn-minimize {
  background: url('./svg/minimize2.svg') center no-repeat;
}

.btn-previous {
  background: url('./svg/left.svg') center no-repeat;
}
.btn-next {
  background: url('./svg/right.svg') center no-repeat;
}

@media screen and (max-width: 700px) {
  h1 {
    font-size: 4.5rem;
    font-weight: 400;
    letter-spacing: -0.5rem;
    word-spacing: 2rem;
    line-height: 3.4rem;
  }

  h2 {
    font-size: 2rem;
    font-weight: 200;
    line-height: 2rem;
    margin-bottom: -1.8rem;
  }

  h3 {
    font-size: 1.3rem;
    margin-bottom: -0.4rem;
  }

  h4 {
    font-size: 1.5rem;
    font-weight: 200;
    line-height: 1.2rem;
    margin-bottom: -0.1rem;
  }

  p {
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 0.1rem;
  }

  #navigation {
    gap: 0rem;
  }

  .header-logo {
    display: flex;
    align-items: flex-end;
    width: 11rem;
    gap: 1rem;
  }

  .location {
    justify-content: space-between;
    width: 100%;
  }

  .art-location {
    font-size: 0.65rem;
  }

  .art-description {
    padding-bottom: 3rem;
    width: 100%;
    text-align: justify;
    text-align-last: justify;
  }

  .logo {
    width: 2.25rem;
    height: 2.25rem;
  }

  .btn {
    scale: 0.75;
  }
}

@media screen and (max-height: 450px) and (orientation: landscape) {
  main {
    padding-left: 5rem;
  }
}

@media (hover: none) and (max-width: 700px) {
  .btn:hover {
    scale: 0.75;
  }
}

@media (hover: none) and (min-width: 701px) {
  .btn:hover {
    scale: 1;
  }
}
